@{
    ViewBag.Title = "MIRACL";
}
<h2>@ViewBag.Title</h2>

<address>
    <b>London</b><br />
    81 Rivington Street<br />
    EC2A 3AY<br />
    United Kingdom <br /> <br />
    <abbr title="Phone">Tel:</abbr>
    +44 (0)20 3389 8190
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:sales@miracl.com">sales@miracl.com</a><br />
    <strong>Support:</strong>   <a href="mailto:support@miracl.com">support@miracl.com</a><br />
    <strong>Media:</strong> <a href="mailto:MIRACL@eskenzipr.com">MIRACL@eskenzipr.com</a>
</address>