@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to Miracl</h1>
    <h2>Sample client application</h2>
</div>
<div class="row">
    <div class="col-md-8">

        @using (Html.BeginForm())
        {
            if (User.Identity.IsAuthenticated)
            {
                <button name="Logout" id="LogoutId" title="Test" value="Logout" >Logout</button>
            }
            else
            {
                <div class="inner cover">
                    <p class="lead">Please login to access the miracle world of Miracl.</p>
                    <p class="lead">
                        <a id="btmpin"></a>
                    </p>                    
                </div>                
             }
        }

        <br />
        <br />
        <br />

        <div class="col-md-10">
            <h3>Identity</h3>
            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <dl>
                        @foreach (var claim in System.Security.Claims.ClaimsPrincipal.Current.Claims)
                        {
                            <dt>@claim.Type</dt>
                            <dd>@claim.Value</dd>
                        }
                    </dl>
                </p>
            }
            else
            {
                <p>
                    anonymous.
                </p>
            }
        </div>
    </div>
    
    @section scripts{
    <script src="http://demo.dev.miracl.net/mpin/mpad.js"  data-authurl="@ViewBag.AuthorizationUri" data-element="btmpin"></script>
    }

</div>